@model SistemaSuporte.Models.FormularioAvaliacao

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormularioAvaliacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chamado.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Satisfacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Satisfacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAvaliacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AvaliacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
