@model IEnumerable<SistemaSuporte.Models.HistoricoChamado>

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chamado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Chamado.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HistoricoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HistoricoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HistoricoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
